# Ignore everything
/*

# Allow Gradle configs
!build.gradle.kts
!settings.gradle.kts
!gradle.properties

# Allow Gradle wrapper
!gradlew
!gradlew.bat
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Allow all source directories
!src/
!src/**

# Allow these metadata files
!.gitignore
!README.md
!LICENSE

# Allow github
!.github/**